.about-parent {
    // margin: 50px 0px;

    &.about-parent2 {
        background: #f4f4f4;
        padding: calc(var(--unit)*3) 0px;
    }

    .about-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: calc(var(--unit));
        padding: calc(var(--unit)*3) calc(var(--unit));

        .about-left {
            width: 50%;
            height: auto;
            background: url("../../assets/appointment.webp");
            border-radius: calc(var(--unit)/2);
        }

        .about-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: calc(var(--unit));

            .icon-box {
                display: flex;
                align-items: start;
                gap: 10px;
                display: flex;
                align-items: center;

                .core-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 20px;
                        color: var(--accent-blue);
                    }
                }

                .list-p {
                    text-align: justify !important;

                    .left-p-span {
                        font-weight: bold;
                    }
                }

                .btn-div {
                    margin-top: 10px !important;
                }
            }
        }
    }

    & .about-container2 {
        flex-direction: row-reverse;
    }
}


// second section
.card-parent {

    .swiper {
        width: 100%;
        height: 100%;
        padding: 30px 20px;
    }

    .card-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--unit);
        padding: calc(var(--unit)*3) calc(var(--unit)/2);

        .card {
            width: calc(var(--width) / 5);

            margin: auto !important;
            position: relative;
            height: auto;
            cursor: pointer;
            overflow: hidden;
            box-shadow: var(--shadow);
            border-radius: calc(var(--unit)/2);

            .front {
                height: 100%;
                width: 100%;
                padding: calc(var(--unit) / 2);
                background-color: var(--white);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--unit);
                position: relative;
                transition: var(--trans);

                .image {
                    width: 100%;
                    aspect-ratio: 3;
                    border-radius: calc(var(--unit) / 2);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        height: 120px;
                        aspect-ratio: 1;
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        filter: hue-rotate(225deg) brightness(1.2);
                    }
                }
            }

            .back {
                height: 100%;
                width: 100%;
                background-color: var(--accent-blue);
                position: absolute;
                top: 100%;
                left: 0;
                padding: calc(var(--unit) / 2);
                transition: var(--trans);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                span {
                    color: var(--accent-yellow);

                    svg {
                        font-size: calc(var(--unit)*2);

                    }
                }

                p {
                    color: var(--white);
                    font-size: calc(var(--unit) - 4px);
                }

                .timeing {
                    font-size: calc(var(--unit) + 10px);
                    color: var(--accent-yellow);
                    font-weight: 700;
                }
            }

            &:hover {
                .back {
                    top: 0;
                }
            }
        }
    }

    .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: var(--accent-yellow);
    }
}

// third section

.dr-parent {

    &.sectionbreak {
        background-color: #f4f4f4;
        padding: calc(var(--unit)*3) 20px;
    }

    &.dr-parent2 {
        padding: calc(var(--unit)*3) 0px;
    }

    .dr-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
        box-shadow: var(--shadow);
        padding: 0px !important;
        border-radius: calc(var(--unit)/2);
        border-radius: 10px 10px 10px 10px;

        .left-img {
            width: 50%;
            height: auto;
            background: url("../../assets/appointment.webp");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px 0px 0px 10px;

            &.left-img-2 {
                background: url("../../assets/appointment.webp");
                border-radius: 0px 10px 10px 0px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .left-text {
            width: 50%;
            padding: calc(var(--unit)*2) calc(var(--unit));

            .text {
                display: flex;
                flex-direction: column;
                gap: var(--unit);

                .text-contain {
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--unit)/2);

                    .left-h3 {
                        font-size: calc(var(--unit));
                        font-weight: 600;
                    }
                }

                .left-btn {}
            }
        }
    }

    & .bottom {
        flex-direction: row-reverse;
        border-radius: calc(var(--unit)/2);
    }
}

// first first

@media (max-width:1000px) {
    .about-parent {
        .about-container {
            flex-direction: column !important;

            .about-left {
                width: 100%;
                aspect-ratio: 2;
            }

            .about-right {
                width: 100%;
            }
        }
    }
}


@media (max-width:550px) {
    .about-parent {
        .about-container {
            padding: calc(var(--unit)*2) calc(var(--unit)) !important;

            .about-left {
                width: 100%;
                aspect-ratio: 2;
            }

            .about-right {
                align-items: center !important;
                h2 {
                    line-height: 25px !important;
                    text-align: center;
                }

                p {
                    width: 100%;
                    text-align: center;

                }

                .button-about {
                    display: flex;
                    justify-content: center;

                }
            }

        }

        & .about-container2 {
            padding: calc(var(--unit)) calc(var(--unit)) !important;

        }
    }
}






// third section

@media (max-width:1000px) {
    .dr-parent {

        &.dr-parent2 {
            padding: calc(var(--unit)*3) 20px;
        }
       
        .dr-container {
            flex-direction: column !important;
            padding: calc(var(--unit)) calc(var(--unit)) !important;

            .left-img {
                width: 100%;
                aspect-ratio: 2;
                border-radius: 10px !important;
            }

            .left-text {
                width: 100%;
            }
          
        }
      
    }
}