.partners {
    padding: calc(var(--unit)*2) 0px;
    background-color: var(--grey);

    .partners-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc(var(--unit)/2);

        p{
            text-align: center;
        }

    }

    .partners-bottom {
        margin: calc(var(--unit)*2) 0px;
        height: 700px;
        width: 100%;
        display: flex;
        gap: calc(var(--unit)/2);



        .pleft {
            height: 100%;
            width: 33.33%;
            display: flex;
            flex-direction: column;
            gap: calc(var(--unit)/2);

            .partner-c1 {
                height: 50%;
                width: 100%;
            }

            .partner-c2 {
                height: 50%;
                width: 100%;
            }


        }

        .pmiddle {
            height: 100%;
            width: 33.33%;


            .partner-c3 {
                height: 100%;
                width: 100%;
            }

        }

        .pright {
            height: 100%;
            width: 33.33%;
            display: flex;
            flex-direction: column;
            gap: calc(var(--unit)/2);

            .partner-c4 {
                height: 50%;
                width: 100%;

            }

            .partner-c5 {
                height: 50%;
                width: 100%;

            }

        }

    }
    @media only screen and (max-width:1000px){
        .partners-bottom{
            display: none !important;
            height: 1000px !important ;
        }
    }
   
    .swiper {
        width: 100%;
        height: 100%;
     
        .swiper-wrapper{
            height:600px;
            width:100%;
        }
        .swiper-button-next, .swiper-button-prev{
            background-color: var(--accent-yellow) !important;
            color: var(--accent-blue);
            font-size: 20px !important;
            padding: 30px !important;
            border-radius: 100px;
    
        }
        
        .swiper-slide {
            padding:50px 0px;
            text-align: center;
            font-size: 18px;
            background:var(--grey) ;
            height: 800px !important;
          
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;

           
    
            .pleft{
                height: 100%;
                width: 100%;            
                display: flex;
                flex-direction: column;
                gap: calc(var(--unit)/2);
    
                .partner-c1{
                    height: 50%;
                    width: 100%;
                }
                .partner-c2{
                    height: 50%;
                    width: 100%;
                }
                
    
            }
            .pmiddle {
                height: 100%;
                width: 100%;
    
    
                .partner-c3 {
                    height: 100%;
                    width: 100%;
                }
    
            }
    
            .pright {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: calc(var(--unit)/2);
    
                .partner-c4 {
                    height: 50%;
                    width: 100%;
    
                }
    
                .partner-c5 {
                    height: 50%;
                    width: 100%;
    
                }
    
            }

          }
      }
      
      

      @media only screen and (min-width:1000px){
        .swiper{
            display: none;
        }
      }

     

      }




