.partners{
    padding: calc(var(--unit)*2) 0px;

    .partners-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc(var(--unit)/2);
        
    }
    .partners-bottom{
        margin: calc(var(--unit)*2) 0px;
        height: 700px;
        width: 100%;        
        display: flex;
        gap: calc(var(--unit)/2);
        
       

        .pleft{
            height: 100%;
            width: 33.33%;            
            display: flex;
            flex-direction: column;
            gap: calc(var(--unit)/2);

            .partner-c1{
                height: 50%;
                width: 100%;
            }
            .partner-c2{
                height: 50%;
                width: 100%;
            }
            

        }
        .pmiddle{
            height: 100%;
            width: 33.33%;
            

            .partner-c3{
                height: 100%;
                width: 100%;
            }

        }
        }
        .pright{
            height: 100%;
            width: 33.33%;            
            display: flex;
            flex-direction: column;
            gap: calc(var(--unit)/2);

            .partner-c4{
                height: 50%;
                width: 100%;
                
            }
            .partner-c5{
                height: 50%;
                width: 100%;
                
            }

        }
    }


