.aboutsec {
  min-height: 300px;
  padding: 200px 0px 50px 0px;
  // background: red;

  .aboutsec-container {
    box-shadow: var(--shadow);
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--unit) / 2);
    box-shadow: var(--shadow);
    border-radius: calc(var(--unit) / 2);
    // padding: 30px 0px;

    .left {
      width: 30%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--unit) / 2);
      position: relative;
      // background: red;

      .mob-img {
        background: url("../../assets/Homepage/axonic\ mobile\ png.png");
        width: 220px;
        aspect-ratio: 447/920;
        position: absolute;
        bottom: 0px;
      }
    }

    .right {
      width: 70%;
      height: 100%;
      padding: 0px 20px;
      padding:20px 0px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: calc(var(--unit) / 2);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .aboutsec {
    padding: 100px 20px 50px 20px;
  }
}

@media only screen and (max-width: 900px) {
  .aboutsec {
    padding: 200px 20px 50px 20px;
  }
  .aboutsec-container {

    flex-direction: column;
    .left{
      width: 100% !important;
      
    }

    .right{
      width: 100% !important;
      align-items: center !important;

      h2{
        margin-top: 20px;
      }
      p{
        text-align: center;
      }
    }
    
  }
}
