.header-parent {
  height: 60px;
  position: absolute;
  top: 20px;
  z-index: 100;

  .header-container {
    border-radius: 100px;
    background: rgba(1, 7, 41, 0.295);
    border: 1px solid rgba(255, 255, 255, 0.161);
    display: flex;
    align-items: Center;
    justify-content: space-between;
    transition: var(--trans);
    .logo {
      background: url("../../assets/logo/logow.png");
      height: 100px;
      width: 200px;
    }
    .menu-icon {
      color: white;
      cursor: pointer;
      padding-right:10px;
      transition: var(--trans);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: 25px;
      }
      &:hover {
        transform: scale(1.2) rotate(15deg);
      }
    }
    .mobile-header {
      position: fixed;
      top: 0px;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.7);
      transition: var(--trans);
      .close {
        color: white;
        position: absolute;
        top: 10px;
        z-index: 210;
        right: 10px;
        transition: var(--trans);
        cursor: pointer;
        svg {
          font-size: 30px;
        }
        &:hover {
            transform: scale(1.2) rotate(15deg);
          }
      }
      .menu-links {
        height: 100%;
        width: 400px;
        right: 0;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--accent-blue);
        padding: var(--unit);
        padding-top: calc(var(--unit) * 2);
        transition: var(--trans);
        justify-content: center;
        gap: calc(var(--unit) * 2);
        a {
          color: white;
          transition: var(--trans);

          &:hover {
            color: var(--accent-yellow);
          }
        }
        ul {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--trans);
          }
          .menudropdown {
            display: flex;
            background: var(--accent-blue);
            border: 1px solid rgba(138, 135, 135, 0.192);
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            padding: 20px 0px;
            border-radius: calc(var(--unit) / 2);
            width: 300px;
            transition: var(--trans);
          }
        }
      }

      .clickarea{
height: 100%;
width: 100%;
// background: rosybrown;
      }



    }
    .mobile-number {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      transition: var(--trans);

      .contact {
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.174);
        gap: calc(var(--unit) / 2);
        width: 100%;
        color: var(--white);
        transition: var(--trans);
        cursor: pointer;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--accent-yellow);
          transition: var(--trans);
        }

        p {
          font-size: 14px;
          line-height: 18px;
          transition: var(--trans);
        }

        &:hover {
          background: var(--accent-yellow);

          .icon,
          p {
            color: var(--accent-blue);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .header-parent {
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 500px) {
  .header-parent {
    .header-container {
      .mobile-header {
        .menu-links {
          width: 100%;
        }
      }
    }
  }
}
