.header-parent {
  height: 60px;
  position: absolute;
  top: 20px;
  z-index: 100;

  .header-container {
    border-radius: 100px;
    background: rgba(1, 7, 41, 0.295);
    border: 1px solid rgba(255, 255, 255, 0.161);
    display: flex;
    align-items: Center;
    justify-content: space-between;
    transition: var(--trans);
    .logo {
      background: url("../../assets/logo/logow.png");
      height: 100px;
      width: 200px;
    }
    .menu-icon {
      color: white;
      cursor: pointer;
      padding-right: 10px;
      transition: var(--trans);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: 25px;
      }
      &:hover {
        transform: scale(1.2) rotate(15deg);
      }
    }
    .mobile-header {
      position: fixed;
      top: 0px;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.7);
      transition: var(--trans);
      .close {
        color: var(--accent-blue);
        position: absolute;
        top: 10px;
        z-index: 210;
        right: 10px;
        transition: var(--trans);
        cursor: pointer;
        svg {
          font-size: 30px;
        }
        &:hover {
          transform: scale(1.2) rotate(15deg);
        }
      }
      .menu-links {
        height: 100%;
        width: 400px;
        right: 0;
        position: absolute;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background: radial-gradient(circle, #f9d423, rgb(255, 153, 0));
      
        padding: var(--unit);
        padding-top: calc(var(--unit) * 2);
        transition: var(--trans);
        justify-content: space-between;
        gap: calc(var(--unit) * 2);
        .top {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          padding-top: 50px;
          gap: var(--unit);
          a {
            color: var(--accent-blue);
            transition: var(--trans);

            &:hover {
              color: var(--white);
            }
          }
          ul {
            a {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              transition: var(--trans);
             
              // justify-content: center;
              .arrow{
                display: flex;
                align-items: center;
                margin-left: 5px;
                justify-content: center;
                transition: var(--trans);
                &.active{
                  transform: rotate(180deg);
                }
              }
            }
            .menudropdown {
              display: flex;
              margin-top:10px;
              flex-direction: column;
              gap: 20px;
              align-items: flex-start;
              justify-content: center;
              border-radius: calc(var(--unit) / 2);
              width: 300px;
              transition: var(--trans);
              // background: hsla(0, 0%, 100%, .107);
              background: white;
              padding: 15px 10px;
              border-radius: 5px;
              a{
                color:var(--accent-blue);
                &:hover{
                  color:var(--accent-yellow);
                }
              }
            }
          }
        }
      }

      .clickarea {
        height: 100%;
        width: 100%;
        // background: rosybrown;
      }
    }
    .bottom {
      .mobile-number {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        transition: var(--trans);

        .contact {
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 10px;
          // border: 1px solid rgba(255, 255, 255, 0.174);
          // border: var(--accent-blue) 1px solid;
          gap: calc(var(--unit) / 2);
          width: 100%;
          color: var(--accent-blue);
          transition: var(--trans);
          cursor: pointer;
          background: var(--white);

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--accent-blue);
            transition: var(--trans);
            aspect-ratio: 1;

          }

          p {
            font-size: 14px;
            line-height: 18px;
            transition: var(--trans);
          }

          &:hover {
            background: var(--accent-blue);

            .icon,
            p {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .header-parent {
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 500px) {
  .header-parent {
    .header-container {
      .mobile-header {
        .menu-links {
          width: 100%;
        }
      }
    }
  }
}
