.mobile-next {
    display: none;
}



.belowhero {
    height: 200px;
    margin-top: -100px;
    z-index: 10;
    position: relative;
    margin-bottom: 50px;


    .belowhero-container {
        background: var(--white);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--shadow);
        padding: 0px;


        .box {
            height: 70%;
            // width: calc(100% / 4);
            border-right: 1px solid rgba(0, 0, 0, 0.283) !important;
            position: relative;
            transition: var(--trans);
            margin: auto;

            &:last-child {
                border: none;
            }

            .subbox {
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--unit);
                background: var(--white);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: var(--trans);

                .icon {
                    height: 70px;
                    width: 50px;
                    filter: hue-rotate(225deg) brightness(1.2);
                }

                // p:not(.opacity) {

                //     opacity: 0;
                //     transition: var(--trans);
                //     position: absolute;
                //     top: 40px;
                //     text-align: center;

                // }
                // p.opacity{
                //     opacity: 0;
                //     text-align: center;
                // }
                p {
                    display: none;
                    text-align: center;
                }

                .icon1 {
                    background: url('../../assets/icons/patient.gif');
                }

                .icon2 {
                    background: url('../../assets/icons/doctor.gif');
                }

                .icon3 {
                    background: url('../../assets/icons/clinic.gif');
                }

                .icon4 {
                    background: url('../../assets/icons/handshake.gif');
                }

                .btn-div {
                    display: none;
                }
            }

            &:hover {
                .subbox {
                    z-index: 99;
                    border-radius: 10px;
                    height: auto;
                                     padding: calc(var(--unit) / 2);
                    gap: calc(var(--unit) / 2);
                    box-shadow: var(--shadow);
                    
                    p {
                        display: block;
                    }

                    .btn-div {
                        display: block;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:800px) {
    .desktop-next {
        display: none;
    }

    .mobile-next {
        display: block;
    }

    .belowhero {
        height: 300px !important;

        align-items: center;
        justify-content: center;

        .belowhero-container {
            .box {
                .subbox {
                    height: 500px !important;
                }
            }
        }

    }

}

@media only screen and (min-width:800px) {

    // .mobile-next {
    //     display: block;
    // }
    .belowhero {

        .belowhero-container {

            .box {
                width: calc(100% / 4);
            }
        }

    }


}


///////////////////////////for Mobile-----------------------------



    .belowhero1 {
        margin-top: -100px;
        padding: 20px 10px;
        .belowhero-container1 {
            // padding: 20px 10px;
            .mySwiper {
                width: 100%;
                height: 100%;
                padding: 20px 10px;
.swiper-button-next:after,.swiper-button-prev:after{
    font-size: 25px !important;
    color: var(--accent-blue);
}

            }

            background: var(--white);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
           
            padding: 0px;

            .box {
                // border: 1px solid red;
                transition: var(--trans);
                margin: auto;
                // height: 100%;
                width: 320px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--unit);
                background: var(--white);
                border-radius: 10px;
                height: auto;
                padding: calc(var(--unit) / 2);
                gap: calc(var(--unit) / 2);
                box-shadow: var(--shadow);


                .icon {
                    height: 70px;
                    width: 50px;
                    filter: hue-rotate(225deg) brightness(1.2);
                }

                p {
                    text-align: center;
                }

                .icon11 {
                    background: url('../../assets/icons/patient.gif');
                }

                .icon22 {
                    background: url('../../assets/icons/doctor.gif');
                }

                .icon33 {
                    background: url('../../assets/icons/clinic.gif');
                }

                .icon44 {
                    background: url('../../assets/icons/handshake.gif');
                }


            }



        }
    }
