.herosection-parent {
    width: 100%;
    height: 100svh;

    .mySwiper {
        height: 100%;
        width: 100%;
    }

    .overlay {
        position: absolute;
        // background: rgba(3, 3, 3, 0.517);
        background: linear-gradient(transparent, 30%, rgba(1, 2, 17, 1));
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .slide {
        height: 100%;
        width: 100%;
        position: relative;

        .slide-text-container {
            display: flex;
            flex-direction: column;
            gap: var(--unit);
            align-items: center;
            justify-content: center;
            z-index: 2;
            position: relative;

            .slide-heading {
                color: var(--white);
                font-size: 40px;
                text-align: center;
                line-height: 120%;
            }
        }
    }

    .custom-nav-buttons {

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
            color: white; // Ensure the icons are visible
            font-size: 30px; // Increase size if necessary
            padding: 10px; // Add padding for click area
        }

        .swiper-button-prev {
            left: 10px;
        }

        .swiper-button-next {
            right: 10px;
        }
    }

    // Slide background images
    .slide-img1 {
        background: url('../../assets/herosection/hero1.jpg');
    }

    .slide-img2 {
        background: url('../../assets/herosection/hero2.jpeg');
    }

    .slide-img3 {
        background: url('../../assets/herosection/hero3.jpeg');
    }
}

@media only screen and (max-width:500px){
    .herosection-parent .slide .slide-text-container .slide-heading{
        font-size: 22px !important;
        max-width: 18ch;
    }

    .swiper-button-next:after,.swiper-button-prev:after{
        font-size: 25px !important;
       
    }
}

// @media only screen and (max-width:600px){
//     .herosection-parent .slide .slide-text-container .slide-heading{
//         font-size: 28px;
//     }
//     .swiper-button-next:after,.swiper-button-prev:after{
//         font-size: 28px !important;
       
//     }
// }

@media only screen and (max-width:600px){
    .herosection-parent .slide .slide-text-container .slide-heading{
        font-size: 30px;
    }
    .swiper-button-next:after,.swiper-button-prev:after{
        font-size: 28px !important;
       
    }
}

@media only screen and (max-width:800px){
  
    // }
    .swiper-button-next:after,.swiper-button-prev:after{
        font-size: 28px !important;
       
    }
}