.herosection-parent{

.mySwiper{
    height: 100%;
    width: 1005px;
}

.slide{
    height: 100%;
    width: 100%;
    position: relative;

}
.slide-img1{
   

}
.overlay {
    position: absolute;
    background: rgba(3, 3, 3, 0.39);
    z-index: 1;
    width: 100%;
    height: 100%;
}



}