.flipcard {
 height: 100%;
 width: 100%;
  transition: 0.4s all linear;
  position: relative;

  .front {
    width: 100%;
    height: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    padding: calc(var(--unit));
    transition: 0.4s all linear;
    position: absolute;
    transition-delay: 0.4s;
    border-radius: 10px;
    overflow: hidden;

    &::after {
      height: 100%;
      width: 100%;
      background: linear-gradient(transparent, black) ;    
      content: "";
      display: block;
      position: absolute;
      top: 0px;
    }

    h3 {
      position: relative;
      z-index: 3;
      color: var(--white);
    }
  }

  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: calc(var(--unit));
    transform: rotateY(90deg);
    transition: 0.4s all linear;
    border-radius: 10px;
    overflow: hidden;
    gap: calc(var(--unit));

    &::after {
      height: 100%;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.493), black);
      content: "";
      backdrop-filter: blur(5px);
      display: block;
      position: absolute;
      top: 0px;
    }

    p {
      text-align: center;
      position: relative;
      z-index: 3;
      color: var(--white);
      transform: translateY(100px);
      opacity: 0;
    }

    .button {
      position: relative;
      z-index: 3;
      transform: translateY(100px);
      opacity: 0;
    }
  }

  &:hover {
    .front {
      transform: rotateY(-90deg);
    }

    .back {
      transform: rotateY(0deg);
      transition-delay: 0.8s;

      p {
        animation: fadeup 0.3s 1s ease-out forwards;
      }
      .button {
        animation: fadeup 0.3s 1.2s ease-out forwards;
      }
    }
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
